<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-X2N1NWFYTX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-X2N1NWFYTX');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Asacoco Generator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/asacoco.css">
  <!-- Manifest -->
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon-16x16.png">
  <link rel="manifest" href="./assets/site.webmanifest">
  <link rel="mask-icon" href="./assets/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
    <!-- Primary Meta Tags -->
  <meta name="title" content="Asacoco Generator">
  <meta name="description" content="Generate your student card of Asacoco University!">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://metatags.io/">
  <meta property="og:title" content="Asacoco Generator">
  <meta property="og:description" content="Generate your student card of Asacoco University!">
  <meta property="og:image" content="https://raw.githubusercontent.com/rogeraabbccdd/Asacoco-Generator/master/images/ACU.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://metatags.io/">
  <meta property="twitter:title" content="Asacoco Generator">
  <meta property="twitter:description" content="Generate your student card of Asacoco University!">
  <meta property="twitter:image" content="https://raw.githubusercontent.com/rogeraabbccdd/Asacoco-Generator/master/images/ACU.png">
</head>
<body>
  <div id="app">
    <div id="bg"></div>
    <div class="container" id="content">
      <div class="row justify-content-center">
        <div class="col-10 text-white d-flex align-items-center justify-content-center my-4" id="title">
          <img src="./images/logo.png" width="100" class="mx-3">
          <h1>ASACOCO GENERATOR</h1>
        </div>
        <div class="col-10 my-3">
          <div class="card">
            <div class="card-body">
              <div class="mb-3">
                <label for="input-id" class="form-label">Student ID</label>
                <input placeholder="Enter your student ID..." class="form-control" id="input-id" type="text" v-model="input.id" @input="refresh">
              </div>
              <div class="mb-3">
                <label for="input-dep" class="form-label">Department</label>
                <input placeholder="Enter your department name..." class="form-control" id="input-dep" type="text" v-model="input.dep" @input="refresh">
              </div>
              <div class="mb-3">
                <label for="input-name" class="form-label">Name</label>
                <input placeholder="Enter your student name..." class="form-control" id="input-name" type="text" v-model="input.name" @input="refresh">
              </div>
              <div class="mb-3">
                <label for="input-file" class="form-label">Avatar (Square image is recommended)</label>
                <div class="form-file">
                  <input id="input-file" class="form-file-input" type="file" @input="handleFile" accept="image/*">
                  <label class="form-file-label" for="input-file">
                    <span class="form-file-text">Choose file...</span>
                    <span class="form-file-button">Browse</span>
                  </label>
                </div>
              </div>
              <canvas ref="canvas" width="2022" height="1275" id="canvas" class="d-block my-3"></canvas>
              <p class="text-center">
                <button type="button" class="btn btn-success btn-lg btn-large" @click="download">Download</button>
              </p>
            </div>
          </div>
        </div>
        <div class="col-10 text-white text-center mb-5" id="footer">
          <p>
            &copy; {{ dateYear }}
            <br>
            Background photo by 
            <a target="_blank" href="https://unsplash.com/@shunyakoide?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
              Shunya Koide
            </a> 
            on 
            <a target="_blank" href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
              Unsplash
            </a>
            <br>
            Student card designed by 
            <a target="_blank" href="https://twitter.com/JustinYoYa/status/1319591394076491776">YoYa</a>
            <br>
            Made with ❤ by 
            <a target="_blank" href="https://github.com/rogeraabbccdd">Kento</a>
          </p>
          <a target="_blank" href="https://github.com/rogeraabbccdd/Asacoco-Generator/fork">
            <img class="mx-1" src="https://img.shields.io/github/forks/rogeraabbccdd/Asacoco-Generator?style=social">
          </a>
          <a target="_blank" href="https://github.com/rogeraabbccdd/Asacoco-Generator/stargazers">
            <img class="mx-1" src="https://img.shields.io/github/stars/rogeraabbccdd/Asacoco-Generator?style=social">
          </a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.prod.js"></script>
  <script src="./js/app.js"></script>
  <script type="module">
    import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

    const el = document.createElement('pwa-update');
    document.body.appendChild(el);
  </script>
</body>
</html>